.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 24px;
  top: 24px;

  @media (min-width: 960px) {
    display: none;
  }
}

.bm-burger-bars {
  background: white;
}

.bm-menu {
  background: white;
}
