@import "../../styles/_palette";
@import "../../styles/_sizing";

.boxpage_wrapper {
  @media (min-width: $breakpoint-medium) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.box_image {
  height: auto;

  @media (min-width: $breakpoint-medium) {
    order: 2;
  }
}

.box_name {
  color: $primary-dark;
  padding: 0.5em 0;
}

.content {
  display: inline-block;
  min-width: 40vw;
  padding: 1rem 1.0875rem 5rem;
  @media (min-width: $breakpoint-medium) {
    order: 1;
  }
}

.description {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
