.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-size: cover;
  background-position: 50% 50%;
  min-height: 50vh;
  background-repeat: no-repeat;

  margin-bottom: 1rem;

  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  > * {
    max-width: 95%;
    z-index: 2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: white;
    text-align: center;
  }
}
