@import "../../styles/_sizing";

.noContent {
  //height: 2rem;
}

.wysiwyg {
  color: inherit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: inherit;
  }

  ul,
  ol {
    li {
      list-style: initial;
    }
  }

  img {
    max-width: 100%;

    @media (min-width: $breakpoint-medium) {
      float: right;
      max-width: 50%;
    }
  }
}
