
$gutter: 1rem;

$primary-dark: #383836;//Charcoal Grey
$primary-light: #C1D4D5;//Soft Blue
$primary-accent: #91D1BA; //Accent Green

$secondary-dark: #4E868E; //Sea Green
$secondary-light: #709F86; //Leafy Green
$secondary-accent: #4F4084; //Deep Purple

