@import "./_palette";
@import "./_sizing";

* {
  color: $primary-dark;
}

ul,
ol {
  li {
    list-style: none;
  }
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: $primary-dark;
}

header {
  width: 100%;
  background-color: white; //$primary-light;

  .header-scaffold {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr;

    a.logo {
      grid-column: 1;
    }

    ul.menu {
      grid-column: 2;
      margin: auto 0;
      align-items: center;

      p,
      blockquote {
        margin-bottom: 0;
      }
    }
  }

  .logo {
    img {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 15vh;
      max-width: 100%;
    }
  }
}

//Lower case navs
header,
footer,
.bm-item-list {
  text-transform: lowercase;
}

main {
  background: url(/assets/images/SG_103-Pattern.png);
  background-repeat: repeat;
  min-height: calc(100vh - 120px);
}

.container,
.content-container {
  background: rgba(255, 255, 255, 0.9);

  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem 1.0875rem;
}

.content-container {
  padding-top: 0;
}

.hero {
  display: grid;
  align-items: center;
  position: relative;

  blockquote,
  p {
    text-align: center;
  }
}

footer {
  background-color: $primary-dark;
  background: url(/assets/images/SG_103-Pattern-dark.png);
  background-repeat: repeat;

  color: white;
  a {
    color: white;
  }

  display: none;
  @media (min-width: $breakpoint-large) {
    display: initial;
  }
}

.pagination {
  .pagination_page {
    display: inline-block;
    margin-right: 1rem;

    cursor: pointer;

    &.pagination_selected {
      color: $primary-accent;
    }
  }
}

.loader {
  background: url("/assets/images/loader.gif") no-repeat center center;
  content: "";
  display: block;
  min-height: 120px;
  width: auto;
}

h1 {
  color: white;
  font-size: 4em;
  padding: 0.5em;
  text-align: center;
  z-index: 2;

  > p {
    font-size: 2rem;
    margin-top: 1em;
  }

  &.hero-heading {
    border: 3px solid white;
  }

  &.hero-heading-dark {
    border: 3px solid $primary-dark;
  }

  @media (max-width: $breakpoint-small) {
    font-size: 2em;
  }
}

.title-light {
  font-weight: 300;
  color: inherit;
}
