@import "../../styles/_sizing";

.blockview_wrapper {
  @media (min-width: $breakpoint-large) {
    display: flex;
  }
}

.blockview {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  height: 60vh;
  width: 100vw;
  max-width: 100%;

  a {
    max-width: 80%;
  }

  @media (min-width: $breakpoint-large) {
    height: 50vh;
    width: 50vw;
    max-width: 50%;
  }
}
