@import "../../styles/_palette";
@import "../../styles/_sizing";

.header {
  font-family: Arapey;
  font-size: 20px;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    margin: 0 auto;
    max-width: 1200px;
  }
}

.home_link {
  margin: 0;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  img {
    height: 6rem;
    margin-bottom: 0;
  }
}

.header_navigation {
  display: flex;
  align-items: center;

  ul,
  li {
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    margin-right: 1rem;
    a {
      text-decoration: none;
    }
  }

  //Mobile & tablet only
  @media (max-width: 959px) {
    display: none;
  }
}

.mobile_nav__trigger_open {
  margin-right: 1rem;
  cursor: pointer;

  //Desktop only
  @media (min-width: $breakpoint-large) {
    display: none;
  }
}

.mobile_nav__trigger_close {
  text-align: right;
  cursor: pointer;
  margin: 1rem;
}

.mobile_nav_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  background-color: rgba(0.1, 0.1, 0.1, 0.6);
}

.mobile_navigation {
  position: absolute;
  z-index: 5; //Above Headroom overlay & background grey
  min-width: 300px;
  max-width: 90vw;

  font-family: Arapey;
  font-size: 20px;

  background-color: rgba(0.1, 0.1, 0.1, 0.8);
  color: $primary-light;

  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;

  span,
  p,
  a {
    color: white;

    &.primary {
      color: $primary-accent;
    }
  }
}
