.gallery_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery_title {
  text-align: center;
  width: 100%;
}

.gallery__item_description {
  text-align: center;
  width: 100%;
}
