@import "../../styles/_palette";

.gallery_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery_items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;

  @media (min-width: 960px) {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery_item {
  display: flex;
  flex-direction: column;
  //  justify-content: space-between;
  overflow-y: hidden;

  background: white;
  border: 2px solid $secondary-dark;
  padding: 1em;

  > img {
    object-fit: contain;
  }

  > figcaption {
    color: $secondary-dark;
  }

  &:nth-child(2n) {
    border: 2px solid $secondary-accent;

    figcaption {
      color: $secondary-accent;
    }
  }

  @media (max-width: 960px) {
    max-width: 80% !important;
  }
}

.gallery_title {
  text-align: center;
  width: 100%;
}

.gallery__item_description {
  text-align: center;
  width: 100%;
}
