body {
  position: relative;
  min-height: calc(100vh - 1px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  ul {
    max-width: 960px;
    margin: 0 auto;
  }

  li {
    text-align: center;
    display: block;
  }

  @media (min-width: 960px) {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      display: inline-block;
    }
  }
}
