@import "../../styles/_palette";
@import "../../styles/_sizing";

.contentblocks_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.contentblocks_items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  padding: 1em;
  
  a {
    text-decoration: none;
  }
  
  .contentblocks_item {
    border: 2px solid $secondary-dark;
    color: $secondary-dark;
  }

  *:nth-child(2n) {
    .contentblocks_item {
      border: 2px solid $secondary-accent;
      color: $secondary-accent;

      
      @media (min-width: $breakpoint-large) {
        .contentblocks_image {
          order: 2;
        }

        .contentblocks__item_description {
          order: 1;
        }
      }
    }
  }

  @media (min-width: $breakpoint-large) {
    align-items: flex-start;
  }
}

.contentblocks_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2em;

  background: white;
  border: 2px solid $secondary-dark;
  padding: 1em;

  .contentblocks_image {
    object-fit: contain;
    margin: 0;
  }

  .contentblocks__item_description {
    color: $secondary-dark;
    padding: 1em;
  }

  @media (min-width: $breakpoint-large) {
    flex-direction: row;
    align-items: center;
  }
}

.contentblocks_title {
  text-align: center;
  width: 100%;
}

.contentblocks__item_description {
  text-align: center;
  width: 100%;
}

//TODO: Remove this, only temporary
.contentblocks_image {
  order: 2;
}

.contentblocks__item_description {
  order: 1;
}