@import "../../styles/_palette";
@import "../../styles/_sizing";

.contentblocks_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.contentblocks_items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  max-width: 100%;
  padding: 1em;
  
  a {
    text-decoration: none;
  }
  
  .contentblocks_item {
    border: 2px solid $secondary-dark;
    color: $secondary-dark;
  }

  @media (min-width: $breakpoint-medium) {
    align-items: flex-start;
  }
}

.contentblocks_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 2em;

  background: white;
  border: 2px solid $secondary-dark;
  padding: 1em;

  a {
    color: $primary-dark;
    &:hover {
      text-decoration: underline;
    }
  }

  .contentblocks_image {
    object-fit: contain;
    margin: 0;
    @media(min-width: $breakpoint-medium) {
      max-width: 33%;
    }
  }

  .contentblocks__item_description {
    color: $secondary-dark;
    padding: 1em;
    @media(min-width: $breakpoint-medium) {
      max-width: 66%;
    }
  }

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
    align-items: center;
  }
}

.contentblocks_title {
  text-align: center;
  width: 100%;
}

.contentblocks__item_description {
  text-align: center;
  width: 100%;
}